.App {
  text-align: center;
}

.navbars {
  display: flex;
  justify-content: space-between;
}

.home {
  background: url(https://assets.vogue.in/photos/5ce4358d9cc0c05498f9e1c4/master/pass/easy-nail-art-design-vogue-india-december-festive-season.jpg) no-repeat;
  padding-bottom: 30px;
  background-size: cover;
  min-height: 100vh;
}


.formpage {
  background-color: #282c34;
  color: white;
}



 .cardcontentbox {
   backdrop-filter: blur(4px);
   background-color: rgba(0, 0, 0, 0.377);
   min-height: 100vh;
 }
.forms {
  display: flex;
  flex-direction: column ;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.heromain {
  height: 80vh;
  background-color: aquamarine;
  background: url(./nailart.jpg) no-repeat;
  background-size: cover; 
}

.contentpage {
  height:50vh;
  display: flex;
}

.left, .right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  color: black;
}

.left {
  background-color: #4683ff;
}

.right {
  background-color: aqua;
} 


.search {
  width: 300px;
  height: 40px;
  border: none;
  border-radius: 30px;
  padding-left: 30px;
}

.heading {
  padding: 20px 0;
  color: white;
  text-shadow: 3rem;
}

.content {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: cursive;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.514); 
  backdrop-filter: blur(2px);
  font-size: 60px;
  font-weight: bold;
  color: white;
  text-shadow: 20px;
}

.ele {
  width: 50%;
}

.card {
  border-radius: 30px;
}

.btns {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
.cardcontainer {
  flex-wrap: wrap;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chip {
  background-color: #282c34;
  color: white;
  border-radius: 30px;
  padding: 5px 0 0 0;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card:nth-child(odd) {
  background-color: rgb(148, 235, 90);
}

.card:nth-child(even){
  background-color: rgb(231, 231, 88);
}